public/uploads/

# Ignore Vagrant
.vagrant/*

# Ignore bundler config.
/config/secrets.yml
/config/database.yml

# Ignore the default SQLite database.
db/*.sqlite3
db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
log/*
!log/.keep
tmp
.env

*./database.yml
