<aside class="sidebar col-sm-3">
  <ul>
    <div class="panel-group" aria-multiselectable="true">
    <img src="/endoscopia.jpg" alt="gastroenterologia" class="img-rounded" height="60%" width="60%">
      <div class="panel-heading" role="tab">
        <div class="panel-title">
            Pacientes
        </div>
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to 'Ingresar nuevo', new_patient_path %></li>
            <li><%= link_to 'Listado de pacientes', patients_path %></li>
          </ul>
        </div>
        <div class="panel-title">
            Informes
        </div>
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to 'Crear nuevo', patient_choice_path %></li>
            <% if (! @patient.nil?) && ( !@patient.new_record?) %>
            <li><%= link_to 'Listado de informes', patient_inspections_path(@patient) %></li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>
  </ul>
</aside>
