<p>
  Pagina en proceso :)
</p>
<p>
  Aqui hay dos opciones, o crear un nuevo paciente o buscar uno.
</p>

<div class="text-center">
  <%= link_to 'Paciente nuevo', new_patient_path, class:"btn btn-lg btn-info" %>
</div>
